<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detecção de Fraudes</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1>Detecção de Fraudes</h1>
    </header>
    <form action="/" method="post">
        <label for="CreditScore">Credit score</label>
        <input type="number" name="CreditScore">

        <label for="Tenure">Tenure</label>
        <input type="number" id="Tenure" name="Tenure">

        <label for="Age">Age</label>
        <input type="number" id="Age" name="Age">

        <label for="Balance">Balance</label>
        <input type="number" id="Balance" name="Balance" step="0.01">

        <label for="NumOfProducts">Num Of Products</label>
        <input type="number" id="NumOfProducts" name="NumOfProducts">

        <label for="HasCrCard">Has Credit Card</label>
        <input type="checkbox" id="HasCrCard" name="HasCrCard">

        <label for="IsActiveMember">Is Active Member</label>
        <input type="checkbox" id="IsActiveMember" name="IsActiveMember">

        <label for="EstimatedSalary">EstimatedSalary</label>
        <input type="number" id="EstimatedSalary" name="EstimatedSalary" step="0.01">

        <label for="Complain">Complain</label>
        <input type="number" id="Complain" name="Complain">

        <label for="Satisfaction_Score">Satisfaction Score</label>
        <input type="number" id="Satisfaction_Score" name="Satisfaction_Score">

        <label for="Point_Earned">Point Earned</label>
        <input type="number" id="Point_Earned" name="Point_Earned">

        <label for="Geography">Geography</label>
        <select name="Geography">
            <option value="France">France</option>
            <option value="Germany">Germany</option>
            <option value="Spain">Spain</option>
        </select>

        <label for="Card_Type">Card_Type</label>
        <select name="Card_Type">
            <option value="DIAMOND">DIAMOND</option>
            <option value="GOLD">GOLD</option>
            <option value="SILVER">SILVER</option>
            <option value="PLATINUM">PLATINUM</option>
        </select>

        <button type="submit" name="submit" class="submit">Enviar</button>    
    </form>
    <h1 class="prediction">
        {{ result }}
    </h1>
</body>
</html>
